# Práctica básica de python

1.   Ingrese dos valores por consola y devuelva el producto de ambos si el resultado es menor a 1000, sino devolver su suma.

In [ ]:
x= int(input("ingrese valor de x: "))
y= int(input("ingrese valor de y: "))
producto = x*y
if producto <= 1000:
  print(producto)
else:
  print(x+y)

ingrese valor de x: 123123
ingrese valor de y: 32312
155435

2.   Itere sobre los primeros 10 números y en cada iteración imprima la suma del numero actual y el anterior.

In [ ]:
for i in range(1,10):
  print(i+(i-1))

1
3
5
7
9
11
13
15
17

3.   Dada una cadena ingresada por consola, imprima los caracteres en posiciones pares. Por ejemplo para la cadena "hola" debería imprimir h l

In [ ]:
cadena = input("ingrese una cadena: ")
print(cadena[::2])
# o si se quiere hacer salto de linea hacer en for
#for i in cadena[::2]:
#  print(i)

ingrese una cadena: hola
hl
h
l

4.   Escriba una función que remueva los primeros n elementos de un string

In [ ]:
def remover_n(cadena, n):
  return cadena[n:]

mi_cadena = input("ingrese la cadena:")
var_n = int(input("ingrese el N:"))

print(remover_n(mi_cadena, var_n))

ingrese la cadena:hola
ingrese el N:2
la

5.   Escriba una función que devuelva True si el ultimo numero es igual al primero, y falso si son diferentes.

In [ ]:
def primero_igual_ultimo(lista):
  return lista[0] == lista[-1]

lista1 = [1,2,3,4,4,5,1]
lista2 = [2,34,5,1,3,5]
print("¿primero es igual que ultimo elemento?")
print("lista 1: ", primero_igual_ultimo(lista1))
print("lista 2: ", primero_igual_ultimo(lista2))

¿primero es igual que ultimo elemento?
lista 1:  True
lista 2:  False

6. Dada una lista imprima los elementos que sean divisibles por 5

In [ ]:
lista= [1,2,5,10,15,123]

for i in lista:
  if i % 5 ==0: print(i)

5
10
15

7. Escriba un programa que cuente cuantas substrings existen dentro de un string. Ingrese ambas string por consola.

In [ ]:
cadena = input("ingrese la cadena:")
subcadena = input("ingrese la subcadena:")
print(cadena.count(subcadena))

ingrese la cadena:hola a todos
ingrese la subcadena:o
3

8. Escriba un programa que determine si un numero es palimdromo/capicua. Ej: 12321 o 707.

In [ ]:
num = input("ingrese el número: ")

lista1 = [int(i) for i in str(num)]
lista2 = lista1.copy()
lista2.reverse()

print(num,"es palindromo? ","si" if (lista1==lista2) else "no" )

ingrese el número: 123
123 es palindromo?  no

9. dada dos listas de numeros, crear una tercera con los numeros pares de la primera y los impares de la tercera.

In [ ]:
l1 = [1,2,3,4,5,6,7]
l2 = [9,10,11,12,13,14]
l3= []
for l in l1:
  if l % 2 ==0: l3.append(l)
for l in l2:
  if l % 2 !=0: l3.append(l)
print(l3)

[2, 4, 6, 9, 11, 13]

10. Utilice la funcion filter() y una funcion lambda para lograr el mismo programa que en 9.

In [ ]:
l1 = [1,2,3,4,5,6,7]
l2 = [9,10,11,12,13,14]
l3= []
l3.extend(list(filter(lambda x: x%2==0, l1)))
l3.extend(list(filter(lambda x: x%2!=0, l2)))

print(l3)

[2, 4, 6, 9, 11, 13]

11. a partir de los siguientes dict, concatene en uno solo.
{1:10, 2:20}
{3:30, 4:40}
{5:50, 6:60}

In [ ]:
d1= {1:10, 2:20}
d2= {3:30, 4:40}
d3= {5:50, 6:60}
d4 = {}
for d in (d1,d2,d3): d4.update(d)

print(d4)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

12. Elimine los elementos vacios de un diccionario, por ejemplo dado {'a':1,'b':2,'c':None} conseguir {'a':1,'b':2}

In [ ]:
d1 = {'a': 1, 'b': 2, 'c':None}
print(d1)
d2 = {key:value for (key, value) in d1.items() if value is not None}
print(d2)

{'a': 1, 'b': 2, 'c': None}
{'a': 1, 'b': 2}